* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --lime: rgba(0, 255, 0, 1);
    --white: rgba(255, 255, 255, 1);
    --black: rgba(15, 15, 15, 1);
}

body {
    color: var(--white);
    background-color: var(--black);
}

div.background span {
    position: fixed;
    bottom: -180px;
    height: 50px;
    width: 50px;
    z-index: -1;
    box-shadow: 0 0 3rem var(--lime), 0 0 6rem var(--lime), 0 0 9rem var(--lime), 0 0 12rem var(--lime);
    animation: boxes 10s linear infinite;
}

div.background span:nth-child(1) {
    left: 60px;
    animation-delay: 0.6s;
}

div.background span:nth-child(2) {
    left: 10%;
    animation-delay: 3s;
}

div.background span:nth-child(3) {
    left: 20%;
    animation-delay: 2s;
}

div.background span:nth-child(4) {
    left: 30%;
    animation-delay: 5s;
    width: 80px;
    height: 80px;
}

div.background span:nth-child(5) {
    left: 40%;
    animation-delay: 1s;
}

div.background span:nth-child(6) {
    left: 50%;
    animation-delay: 7s;
}

div.background span:nth-child(7) {
    left: 60%;
    animation-delay: 6s;
    width: 100px;
    height: 100px;
}

div.background span:nth-child(8) {
    left: 70%;
    animation-delay: 8s;
}

div.background span:nth-child(9) {
    left: 80%;
    animation-delay: 6s;
    width: 90px;
    height: 90px;
}

div.background span:nth-child(10) {
    left: 90%;
    animation-delay: 4s;
}

@keyframes boxes {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    80% {
        opacity: 0.7;
    }

    100% {
        transform: translateY(-700px) rotate(360deg);
        opacity: 0;
    }
}

div.table, div.title, div.contact {
    margin-top: 1rem;
    margin-left: 1rem;
}

table, th, td {
    border: 1px solid var(--lime);
    border-top: 0rem;
    border-left: 0rem;
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: center;
}

th {
    padding: 0.5rem;
}

span.contact-data {
    font-weight: normal;
}

div.contact>h3 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

img.small-img {
    width: 10%;
}

div.contact>a {
    font-weight: bold;
    color: var(--white);
}

div.buttons {
    border: 1px solid var(--lime);
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    margin-left: 1rem;
}

div.buttons>a {
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
}

div.button-box,
div.button-box-leverancier {
    display: flex;
    justify-content: flex-end;
}

div.button-box {
    width: 23.7%;
}

div.button-box, div.button-box-leverancier {
    margin-top: 1rem;
}

div.button-box-leverancier {
    width: 53%;
}

div.section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div.section>input {
    padding: 0.5rem;
    border-radius: 0.5rem;
}

div.submit>input {
    border-color: var(--lime);
    background-color: transparent;
    color: var(--lime);
    padding: 1rem;
    margin-right: 5rem;
    cursor: pointer;
}

div.submit {
    display: flex;
    justify-content: center;
    width: 30%;
}

h3.succes-text {
    text-align: center;
    border: 0.1rem solid var(--red);
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 50%;
}

tr.flex {
    display: flex;
    flex-direction: column;
}

div.table-flex {
    display: flex;
}